<!-- templates/index.html -->
<!doctype html>
<html>
<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-success">
        <h1>Autenticacion</h1>
        <p>Login or Register with:</p>
        <p><a href='/auth/google'>google</a></p>
    </div>
</div>
</body>
</html> 